<section class="container">

    <div class="bg-dark text-center mb-3 form-control  h-100 border-dark">
        <button class="btn btn-danger" (click)='this.mostrar="Administradores"'>Administradores</button>
        <button class="btn btn-warning ml-3" (click)='this.mostrar="Especialistas"'>Especialistas</button>
        <button class="btn btn-success ml-3" (click)='this.mostrar="Pacientes"'>Pacientes</button>
    </div>

    <app-spinner *ngIf='this.mostrarSpinner'></app-spinner>

    

    <table class="table table-hover table-dark "  *ngIf='this.mostrar=="Administradores"'>

       <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>Correo</th>        
                <th  class="bg-danger">Perfil</th>
                <th>Imagen Principal</th>
            </tr>
       </thead>
       <tbody>
        <tr *ngFor='let i of this.listaAdministradores'>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.edad}}</td>
            <td>{{i.dni}}</td>
            <td>{{i.correo}}</td>
            <td class="bg-danger">{{i.perfil}}</td>
            <td><img src="{{i.imagenPrincipal}}" width="50px" height="50px" ></td>
        </tr>
       </tbody>
        
        

    </table>
    

    <table class="table table-dark  table-hover"  *ngIf='this.mostrar=="Especialistas"'>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>Especialidad</th>
                <th>Correo</th>
                <th>Clave</th>
                <th class="bg-warning text-dark">Perfil</th>
                <th>Imagen Principal</th>    
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let i of this.listaEspecialistas'>
                <td>{{i.nombre}}</td>
                <td>{{i.apellido}}</td>
                <td>{{i.edad}}</td>
                <td>{{i.dni}}</td>
                <td>{{i.especialidad}}</td>
                <td>{{i.correo}}</td>
                <td>{{i.clave}}</td>
                <td class="bg-warning text-dark">{{i.perfil}}</td>
                <td><img src="{{i.imagenPrincipal}}" width="50px" height="50px" > </td>
            </tr>

        </tbody>
        

        

    </table>
    


    <table class="table table-dark table-hover  text-white " *ngIf='this.mostrar=="Pacientes"'>
        
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>ObraSocial</th>
                <th>Correo</th>
                <th class="bg-success">Perfil</th>
                <th>Imagen Principal</th>
                <th>ImagenSecundaria</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor='let i of this.listaPacientes'>
                <td>{{i.nombre}}</td>
                <td>{{i.apellido}}</td>
                <td>{{i.edad}}</td>
                <td>{{i.dni}}</td>
                <td>{{i.obraSocial}}</td>
                <td>{{i.correo}}</td>
                <td class="bg-success">{{i.perfil}}</td>
                <td><img src="{{i.imagenPrincipal}}" width="50px" height="50px" ></td>
                <td><img src="{{i.imagenSecundaria}}" width="50px" height="50px" alt='Foto2'></td>

            </tr>

        </tbody>
    

    

    </table>
    
    
</section>