<div style="height: 75px;">

</div>
<section   class="container h-100 form-control text-dark form-signin border-danger "  style="background-color: rgba(109, 159, 206, 0.747); ">


<div class="bg-dark text-center mb-3 form-control h-100  border-dark">
    <div class="text-right">
        <a routerLink='/bienvenida/login' class="text-danger h4" style="text-shadow: 1px 1px black;">Ir a LOGIN</a>
    </div>

    <h1 class="text-white">REGISTRO</h1>

        
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-primary ml-3" routerLink='/administrador/seccionUsuarios/registro/administradores'><img  src="assets/admin.png" height='400vh'></button>
            </div>
        </div>
        <div class="row" >
            <div class="col-6">
                <button class="btn btn-success ml-3" routerLink='/administrador/seccionUsuarios/registro/pacientes'><img  src="assets/paciente/paciente_03.svg" height='400vh'></button>
            </div>
            <div class="col-6">
                <button class="btn btn-warning ml-3" routerLink='/administrador/seccionUsuarios/registro/especialistas'><img src="assets/Especialista/especialista05.png" height='400vh'></button>
            </div>
        </div>
        
    

</div>        
    




</section>        


