<div style="height: 75px;">

</div>

<section class="container bg-dark form-control h-100">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/especialista/miPerfil'>Perfil</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/especialista/turnos'>Turnos</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/especialista/pacientes'>Pacientes</button>
        </div>
    </div>
</section>