<section class="bg-primary">
    
            <p appResaltar  >esto es la directiva</p>

            <p *appNegativo='condicion'>soy true</p>
            <p *appNegativo='!condicion'>soy false</p>

            <button (click)='condicion=!condicion'>Cambiar Condicion {{condicion}}</button>

</section>


    <section   class="container h-100 form-control text-dark form-signin border-danger "  style="background-color: rgba(109, 159, 206, 0.747); ">
        
        
        <div class="bg-dark text-center mb-3 form-control  h-100 border-dark">
            <div class="text-right">
                <a routerLink='/login' class="text-danger h4" style="text-shadow: 1px 1px black;">Ir a LOGIN</a>
            </div>

            <h1 class="text-white">REGISTRO {{titulo}}</h1>
            <button class="btn btn-warning ml-3" (click)='this.titulo="ESPECIALISTAS"'>Especialistas</button>
            <button class="btn btn-success ml-3" (click)='this.titulo="PACIENTES"'>Pacientes</button>

        </div>        
            
    
        <app-registro-pacientes *ngIf='titulo=="PACIENTES"'></app-registro-pacientes>
        <app-registo-especialistas  *ngIf='titulo=="ESPECIALISTAS"'></app-registo-especialistas>
    
    
    </section>        


