<div style="height: 75px;">

</div>

<section class="container" *ngIf='this.cargo'>

    <table class="table table-dark table-hover  text-white " *ngIf='datosUsuario'>
        

        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>ObraSocial</th>
            <th>Correo</th>
            <th>Imagen Principal</th>
            <th>ImagenSecundaria</th>
        </tr>

        <tr>
            <td>{{datosUsuario.nombre}}</td>
            <td>{{datosUsuario.apellido}}</td>
            <td>{{datosUsuario.edad}}</td>
            <td>{{datosUsuario.dni}}</td>
            <td>{{datosUsuario.obraSocial}}</td>
            <td>{{datosUsuario.correo}}</td>
            <td><img src="{{datosUsuario.imagenPrincipal}}" width="50px" height="50px" ></td>
            <td><img src="{{datosUsuario.imagenSecundaria}}" width="50px" height="50px" alt='Foto2'></td>
        </tr>

    </table>

    <label class="h1 bg-primary">Historia Clinica</label>
    <button class="btn btn-danger" (click)='GenerarPDF()'>Generar PDF</button>


    <table class="table table-dark">
        <thead>
            <tr>  
                <th>Fecha</th>
                <th>CorreoEspecialista</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Temperatura</th>
                <th>Presion</th>
                <th>datos dinamico 1</th>
                <th>datos dinamico 2</th>
                <th>datos dinamico 3</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let unaHistoria of this.listaHistoriaClinica'>
                <td>{{unaHistoria.fecha}}</td>
                <td>{{unaHistoria.correoEspecialista}}</td>
                <td>{{unaHistoria.altura}}</td>
                <td>{{unaHistoria.peso}}</td>
                <td>{{unaHistoria.temperatura}}</td>
                <td>{{unaHistoria.presion}}</td>
                <td *ngFor='let dato of unaHistoria.datosDinamicos'>{{dato.nombre + ' : ' +dato.valor }}</td>
            </tr>
        </tbody>
    </table>



</section>


    
