<section class="container">

    <div class="bg-dark text-center mb-3 form-control  h-100 border-dark">
        <button class="btn btn-danger" (click)='this.mostrar="Administradores"'>Administradores</button>
        <button class="btn btn-warning ml-3" (click)='this.mostrar="Especialistas"'>Especialistas</button>
        <button class="btn btn-success ml-3" (click)='this.mostrar="Pacientes"'>Pacientes</button>
    </div>

    <app-spinner *ngIf='this.mostrarSpinner'></app-spinner>

    

    <table class="table table-dark  table-borderless table-hover"  *ngIf='this.mostrar=="Administradores"'>
       
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Correo</th>
            <th>Clave</th>
            <th  class="bg-danger">Perfil</th>
            <th>Imagen Principal</th>
        </tr>

        <tr *ngFor='let i of this.listaAdministradores'>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.edad}}</td>
            <td>{{i.dni}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.clave}}</td>
            <td class="bg-danger">{{i.perfil}}</td>
            <td>{{i.imagenPrincipal}}</td>
        </tr>

    </table>
    

    <table class="table table-dark table-borderless table-hover"  *ngIf='this.mostrar=="Especialistas"'>
        
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Especialidad</th>
            <th>Correo</th>
            <th>Clave</th>
            <th class="bg-warning text-dark">Perfil</th>
            <th>Imagen Principal</th>    
        </tr>

        <tr *ngFor='let i of this.listaEspecialistas'>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.edad}}</td>
            <td>{{i.dni}}</td>
            <td>{{i.especialidad}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.clave}}</td>
            <td class="bg-warning text-dark">{{i.perfil}}</td>
            <td>{{i.imagenPrincipal}}</td>
        </tr>

    </table>
    


    <table class="table table-dark table-success table-borderless text-white " *ngIf='this.mostrar=="Pacientes"'>
        

        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>ObraSocial</th>
            <th>Correo</th>
            <th>Clave</th>
            <th class="bg-success">Perfil</th>
            <th>Imagen Principal</th>
            <th>ImagenSecundaria</th>
        </tr>

        <tr *ngFor='let i of this.listaPacientes'>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.edad}}</td>
            <td>{{i.dni}}</td>
            <td>{{i.obraSocial}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.clave}}</td>
            <td class="bg-success">{{i.perfil}}</td>
            <td>{{i.imagenPrincipal}}</td>
            <td>{{i.imagenSecundaria}}</td>

        </tr>

    </table>
    
    
</section>