
<section class="container h-100 form-control text-white form-signin border-danger bg-dark"  >
    <div class="text-left">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <button routerLink='/seccionUsuarios/lista' class="btn btn-primary">Lista Usuarios</button>
                    <button routerLink='/seccionUsuarios/solicitudes' class="btn btn-warning ml-3">Solicitudes Especialistas</button>
                    <button routerLink='/seccionUsuarios/registro' class="btn btn-danger ml-3">Generar nuevo Usuario</button>
                </div>
            </div>
        </div>

    </div>

        <h1 class=" text-center">Administrar Usuarios</h1>
    

</section>        