<div style="height: 75px;">

</div>

<section class="container-fluid text-white h-100 pb-3 pl-0 pr-0" *ngIf='cargo'>


    <h1 *ngIf='this.especialidadSeleccionada' class="text-center text-white bg-primary p-0 m-0">
        {{this.especialidadSeleccionada}}</h1>


    <section class="row mt-2">



        <div class="col-xl-4 col-12 mt-2 bg-dark form-control h-100 text-white border-success ml-4 pr-5" align=center >
            <h3>Especialidades</h3>
            <section *ngIf='this.listaEspecialidades!=false' >
                               
                
            <div class="row" >
                <div class="col-xl-4 col-md-3 col-12 mt-3 "  *ngFor='let i of this.listaEspecialidades' >
                    <div class="card border-primary" style="width: 14rem;" 
                        (click)='SeleccionarEspecialidad(i)'>
                        <img src='{{i.imagen}}' class="card-img-top" height="100px">
                        <div class="card-body bg-primary">
                            <h5 class="card-title text-white text-center" >{{i.nombre | primeraLetraMayuscula}}</h5>
                        </div>
                    </div>
                </div>
            </div>
                    

        

            </section>

            <!--app-tabla-especialidades *ngIf='!eligioEspecialidad' [listaEspecialidades]='this.listaEspecialidades'
                (seleccionar)='SeleccionarEspecialidad($event)'></app-tabla-especialidades-->

            <div *ngIf='eligioEspecialidad'>
                <hr class='bg-white'>
                <h5 class=" text-center ml-2 ">Especialistas</h5>
                <div class="lista">
                    <div class="card border-primary" style="width: 18rem;" *ngFor='let unEspecialista of this.especialistasMostrar'
                        (click)='SeleccionarEspecialista(unEspecialista)'>
                        <img src='{{unEspecialista.imagenPrincipal}}' class="card-img-top" height="200px">
                        <div class="card-body  bg-primary">
                            <h5 class="card-title text-white text-center" >{{unEspecialista.apellido | primeraLetraMayuscula}}{{' '}}{{unEspecialista.nombre | primeraLetraMayuscula}}</h5>
                        </div>
                    </div>

                </div>

            </div>

          



        </div>

    
        <div class="col-xl-7 col-12 bg-dark mt-2 ml-4 pr-5">
            <div *ngIf='eligioEspecialidad' >
                 <h3>Turnos Disponibles </h3>

                 <div class="form-control border-success h-100 text-center">
                    <h5 style="text-transform:capitalize">Proximos Turnos <span class="text-danger">{{this.listaFechasMostrar[0].dia}}</span> con <span class="text-danger">{{this.especialistaSeleccionado.apellido +" "+this.especialistaSeleccionado.nombre}}</span> </h5>
                    <button *ngFor='let unHorario of this.listaFechasMostrar[0].horarios ' (click)='SolicitarTurno(unHorario)'
                     class="btn btn-success btn-lg  mt-1 ml-2">{{unHorario.hora}}</button>

                 </div>
                 
            </div>

            <div *ngIf='eligioEspecialidad'>
                <hr class="bg-white">
                <h5 class=" text-center ml-2 mt-2" *ngIf='this.listaFechasMostrar' style="text-transform: capitalize">Fechas de Especialista:{{" "+this.especialistaSeleccionado.apellido +" "+this.especialistaSeleccionado.nombre  }}</h5>


                <div class="text-center"   *ngIf='this.listaFechasMostrar'>
                    
                        <button *ngFor='let unaFecha of this.listaFechasMostrar' (click)='this.turnosMostrar=unaFecha; this.eligioFecha=true'
                            class="btn btn-primary btn-lg mt-1 ml-2">{{unaFecha.dia}}</button>
                    
                </div>

            </div>

            <div class="text-center" *ngIf='eligioEspecialista && eligioEspecialidad && eligioFecha'>
                <hr class="bg-white">
                <h5 class=" text-center ml-2 mt-2" style="text-transform:capitalize" >Horarios de Especialista:{{" "+this.especialistaSeleccionado.apellido +" "+this.especialistaSeleccionado.nombre  }}</h5>
                    
                    <button *ngFor='let unTurno of this.turnosMostrar.horarios' (click)='SolicitarTurno(unTurno)'
                        class="btn btn-primary btn-lg  mt-1 ml-2">{{unTurno.hora}}</button>
                

            </div>


            <!--div class="mb-2">
                <app-mis-turnos></app-mis-turnos>
            </div-->
        </div>



    </section>










</section>