
<section class="container"  *ngIf='cargo'>


    <div class="row">
        <div class="col-2">

            <div>
                <app-tabla-especialidades  [listaEspecialidades]='this.listaEspecialidades' (seleccionar)='SeleccionarEspecialidad($event)'></app-tabla-especialidades>    
            </div>

        </div>

        <div class="col bg-dark text-white h-100 pb-3 pl-0 pr-0">

            <h1 *ngIf='this.especialidadSeleccionada' class="text-center text-white bg-primary p-0 m-0">{{this.especialidadSeleccionada}}</h1>
           
        <section class="row mt-2" *ngIf='this.especialidadSeleccionada'>

            <div class="col-5 bg-dark form-control h-100 text-white border-success ml-4 lista">
                <h5 class=" text-center ml-2">Seleccione un Especialista para ver horarios</h5>

                <table class="table table-success table-hover table-bordered text-dark">
                    <thead>
                        <tr>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let unEspecialista of this.especialistasMostrar' (click)='SeleccionarEspecialista(unEspecialista)'>
                            <td>{{unEspecialista.apellido}}</td>
                            <td>{{unEspecialista.nombre}}</td>
                            <td><img src="{{unEspecialista.imagenPrincipal}}" width="50px" height="50px" ></td>
                        </tr>
                    </tbody>
                    
                </table>
                

            </div>
            <div class="col mr-3 lista">

                <h5 class=" text-center ml-2" *ngIf='this.turnosMostrar'>Seleccione el horario que mas le convenga</h5>
                <table class="table table-primary table-hover  ">

                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody *ngIf='this.turnosMostrar' >
                        <tr *ngFor='let turno of this.turnosMostrar' (click)='SolicitarTurno(turno)' >
                            <td>
                                 {{turno.dia}}
                            </td>
                            <td>
                                {{turno.hora}}
                            </td>
                        </tr>
                    </tbody>
                    

                </table>

            </div>

        </section>

            

        </div>
    </div>
    
</section>
    

    