
<body >
    <section class="container bg-dark text-white form-control border-dark" style="height: 530px;">

        <h1 class="text-center">BIENVENIDO</h1>

        <div class="row">
            <div class="col text-center">
                <img src="assets/icono.svg" width="400px">

            </div>
            
        </div>



        <div class='row'>
            <div class='col'>
                <a class='btn btn-danger btn-block' routerLink="/login">Ir a Login</a>
            </div>
            <div class="col">
                <a class="btn btn-success btn-block" routerLink="/registro">Ir a Registro</a>
            </div>
        </div>
        
        
    </section>    
</body>


