
<section class="container bg-dark text-white border-dark h-100 rounded pb-3">

    <h1 class="text-center">BIENVENIDO</h1>

    <div class="row">
        <div class="col text-center">
            <img src="assets/icono.svg" width="200px">
        </div>
    </div>



    <div class='row'>
        <div class='col'>
            <a class='btn btn-danger btn-block' routerLink="/bienvenida/login">Ir a Login</a>
        </div>
        <div class="col">
            <a class="btn btn-success btn-block" routerLink="/bienvenida/registro">Ir a Registro</a>
        </div>
    </div>

    
    <!--6LeRO_UaAAAAAEloc6hOZf0LkiqBIfB9A3ZzlMek-->
    
    
</section>    


