<section class="container mt-5 w-50 h-100 form-control text-dark form-signin border-danger "  style="background-color: rgba(109, 159, 206, 0.747);">
    <div class="text-right">
        <a routerLink='/registro' class="text-danger h4" style="text-shadow: 1px 1px black;">Ir a Registro</a>
    </div>

        <h1 class=" text-center">INGRESAR</h1>  
    
        <form class=' mt-3' >

            <div class="row pb-1 form-group">
                <div class="col">
                    <label for="">Correo</label>
                    <input type='email'  class='form-control' placeholder="Correo" formControlName='correo' >
    
                    <!--div class="invalid-feedback" style="font-family: sans-serif;" style="font-family: sans-serif;position: absolute;">
                        <span style="text-shadow: 1px 1px black; font-weight:800;"
                          *ngIf="pacienteRegForm.controls.correo.errors?.required && pacienteRegForm.controls.correo.touched">
                          *Por favor ingrese su Correo
                        </span>
                        <span style="text-shadow: 1px 1px black; font-weight:800;"
                          *ngIf="pacienteRegForm.controls.correo.errors?.pattern && pacienteRegForm.controls.correo.touched">
                          Correo invalido
                        </span>
                    </div-->
                </div>
    
            </div>

            
            <div class="row pb-1 form-group">
               
    
                <div class="col">
                    <label for="">Clave</label>
                    <input type="password"  class='form-control mb-0' placeholder="Clave" >
    
                    <!--div class="invalid-feedback"  style="font-family: sans-serif;position: absolute;">
                        <span style="text-shadow: 1px 1px black; font-weight:800;"
                          *ngIf="pacienteRegForm.controls.clave.errors?.required && pacienteRegForm.controls.clave.touched">
                          *Por favor ingrese su Clave
                        </span>
                    </div-->
                </div>
    
                
    
            </div>
    
            <div class="row mt-4 ">
                <div class="col">
                    <button class="btn btn-danger btn-block" >REGISTRARSE!!!</button>
                </div>
            </div>
    
            <div class="row mt-1 mb-3">
                <div class="col">
                    <button type="reset" class="btn btn-warning btn-block">Limpiar</button>
                </div>
            </div>

        </form>
        
</section>
    