<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="bienvenida"><img src='assets/icono.svg' style="width: 30px;height: 30px;">Clinica</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="home">Home</a>
        </li>

        <li *ngIf='this.usuarioLogeado.perfil=="Administrador"'>
          <a class="nav-link" routerLink="administrador/seccionUsuarios">Administrar Usuarios</a>
        </li>	
        
        <li *ngIf='this.usuarioLogeado.perfil=="Especialista"'>
          <a class="nav-link" routerLink="especialista/miPerfil">Mi Perfil</a>
        </li>	
        
      </ul>

      <div *ngIf="usuarioLogeado.correo == false || usuarioLogeado.correo ==null || usuarioLogeado.correo =='' ; else salir">
        <a class="nav-item"><button class="btn btn-outline-primary" routerLink="bienvenida/login">Login</button></a>
        <a class="nav-item ml-3"><a class="btn btn-outline-success" routerLink="bienvenida/registro">Registrarse</a></a>
      </div>

      <ng-template #salir>
          <a class="nav-item"><button class="btn btn-outline-danger" (click)="LogOut()">Log Out</button></a>
      </ng-template>
  
    </div>

</nav>

    <div style="height:70px;"></div>

<router-outlet></router-outlet>




    

    <!--form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form-->
    

