
    
    <form class=' mt-3' novalidate  [formGroup]="especialistaRegForm">
        <div class="row pb-1 form-group">
            <div class="col ">
                <label for="">Nombre</label>
                <input type="text" class='form-control' placeholder="Nombre" formControlName='nombre' [class]="isValidPaciente('nombre')">
    
                    <div class="invalid-feedback" style="font-family: sans-serif;position: absolute;">
                        <span style="text-shadow: 1px 1px black; font-weight:800;"
                            *ngIf="especialistaRegForm.controls.nombre.errors?.required && especialistaRegForm.controls.nombre.touched">
                            *Por favor ingrese su Nombre
                        </span>
                    </div>
            </div>
    
            <div class="col">
                <label for="">Apellido</label>
                <input type="text"  class='form-control' placeholder="Apellido" formControlName='apellido' [class]="isValidPaciente('apellido')">
    
                <div class="invalid-feedback" style="font-family: sans-serif;" style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.apellido.errors?.required && especialistaRegForm.controls.apellido.touched">
                        *Por favor ingrese su Apellido
                    </span>
                </div>
            </div>
    
        </div>
    
        <div class="row pb-1 form-group">
            <div class="col">
                <label for="">Edad</label>
                <input type="number"  class='form-control' placeholder="Edad" formControlName='edad' [class]="isValidPaciente('edad')">
    
                <div class="invalid-feedback" style="font-family: sans-serif;" style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.edad.errors?.required && especialistaRegForm.controls.edad.touched">
                        *Por favor ingrese su Edad
                    </span>
                </div>
    
            </div>
    
            <div class="col">
                <label for="">DNI</label>
                <input type="number"  class='form-control' placeholder="DNI" formControlName='dni' [class]="isValidPaciente('dni')">
    
                
                <div class="invalid-feedback" style="font-family: sans-serif;" style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.dni.errors?.required && especialistaRegForm.controls.dni.touched">
                        *Por favor ingrese su DNI
                    </span>
                </div>
            </div>
        </div>
    
        
    
        <div class="row pb-1 form-group">
    
            <div class="col">
                <label for="">Correo</label>
                <input type='email'  class='form-control' placeholder="Correo" formControlName='correo' [class]="isValidPaciente('correo')">
    
                <div class="invalid-feedback" style="font-family: sans-serif;" style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.correo.errors?.required && especialistaRegForm.controls.correo.touched">
                        *Por favor ingrese su Correo
                    </span>
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.correo.errors?.pattern && especialistaRegForm.controls.correo.touched">
                        Correo invalido
                    </span>
                </div>
            </div>
    
    
            <div class="col">
                <label for="">Especialidad</label>
                <input type="text"  class='form-control' placeholder="Especialidad" formControlName='especialidad' [class]="isValidPaciente('especialidad')">
    
                <div class="invalid-feedback" style="font-family: sans-serif;" style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.especialidad.errors?.required && especialistaRegForm.controls.especialidad.touched">
                        *Por favor ingrese su Obra Social
                    </span>
                </div>
            </div>
    
    
    
    
        </div>
    
        <div class="row pb-1 form-group">
            
    
            <div class="col">
                <label for="">Clave</label>
                <input type="password"  class='form-control mb-0' placeholder="Clave" formControlName='clave' [class]="isValidPaciente('clave')">
    
                <div class="invalid-feedback"  style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.clave.errors?.required && especialistaRegForm.controls.clave.touched">
                        *Por favor ingrese su Clave
                    </span>
                </div>
            </div>
    
            <div class="col"></div>
    
        </div>
    
    
        <div class="row pb-1 form-group">
            <div class="col">
                <label for="">Foto de perfil Principal</label><br>
                <input type="file" placeholder="Foto de perfil" formControlName='imagenPrincipal' [class]="isValidPaciente('imagenPrincipal')">
    
                <div class="invalid-feedback"  style="font-family: sans-serif;position: absolute;">
                    <span style="text-shadow: 1px 1px black; font-weight:800;"
                        *ngIf="especialistaRegForm.controls.imagenPrincipal.errors?.required && especialistaRegForm.controls.imagenPrincipal.touched">
                        *Por favor ingrese una foto
                    </span>
                </div>
            </div>
        </div>
    
        <div class="row mt-4 ">
            <div class="col">
                
                <button class="btn btn-danger btn-block" (click)='this.RegistrarEspecialista()' [disabled]="this.especialistaRegForm.invalid">REGISTRARSE!!!</button>
            </div>
        </div>
    
        <div class="row mt-1">
            <div class="col">
                <button type="reset" class="btn btn-warning btn-block">Limpiar</button>
            </div>
        </div>
    
    </form>


