<div style="height: 75px;">

</div>

<section class="container-fluid text-white h-100 pb-3 pl-0 pr-0" *ngIf='cargo'>
    

    <h1 *ngIf='this.especialidadSeleccionada' class="text-center text-white bg-primary p-0 m-0">
        {{this.especialidadSeleccionada}}</h1>


    <section class="row mt-2">



        <div class="col-4 bg-dark form-control h-100 text-white border-success ml-4 ">

            <label for="autocompletado">Paciente</label>
            <div class="ng-autocomplete mb-3">
                <ng-autocomplete #auto id='autocompletado'
                    [data]="this.listaPacientes"
                    [searchKeyword]="keyword" placeholder="Paciente"
                    (selected)="SeleccionarPaciente($event)" [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
            
                <ng-template #itemTemplate let-item>
                    <a ></a>
                    <a [innerHTML]="item.apellido + ' ' + item.nombre"></a>
                </ng-template>
            
                <ng-template #notFoundTemplate let-notFound>
                    <div>{{notFound}}</div>
                </ng-template>
            </div>
       


            <tabla-especialidades-turnos *ngIf='!eligioEspecialidad' [listaEspecialidades]='this.listaEspecialidades'
                (seleccionar)='SeleccionarEspecialidad($event)'></tabla-especialidades-turnos>

            <div *ngIf='!eligioEspecialista && eligioEspecialidad'>
                <button class="btn btn-danger" (click)='eligioEspecialidad=false'>Volver</button>

                <h5 class=" text-center ml-2">Especialistas</h5>
                <div class="lista">
                    <div class="card" style="width: 18rem;" *ngFor='let unEspecialista of this.especialistasMostrar'
                        (click)='SeleccionarEspecialista(unEspecialista)'>
                        <img src='{{unEspecialista.imagenPrincipal}}' class="card-img-top" height="200px">
                        <div class="card-body">
                            <h5 class="card-title text-dark text-center">{{unEspecialista.apellido + ' ' +
                                unEspecialista.nombre}}</h5>
                        </div>
                    </div>

                </div>

            </div>

            <div *ngIf='!eligioFecha && eligioEspecialista && eligioEspecialidad'>
                <button class="btn btn-danger" (click)='eligioEspecialista=false'>Volver</button>
                <h5 class=" text-center ml-2" *ngIf='this.listaFechasMostrar'>Fechas</h5>

                <div class="lista" *ngIf='this.listaFechasMostrar'>
                    <div *ngFor='let unaFecha of this.listaFechasMostrar'>
                        <button (click)='this.turnosMostrar=unaFecha; this.eligioFecha=true'
                            class="btn btn-primary btn-block mt-1">{{unaFecha.dia}}</button>
                    </div>
                </div>

            </div>

            <div *ngIf='eligioEspecialista && eligioEspecialidad && eligioFecha'>
                <button class="btn btn-danger" (click)='eligioFecha=false'>Volver</button>
                <div *ngFor='let unTurno of this.turnosMostrar.horarios'>
                    <button (click)='SolicitarTurno(unTurno)'
                        class="btn btn-primary btn-block mt-1">{{unTurno.hora}}</button>
                </div>

            </div>



        </div>

    
        <div class="col-7 border-success bg-dark ">
            <h2>Tus Turnos</h2>
            <div class="mb-2" *ngIf='this.pacienteSeleccionado'>
                <app-mis-turnos [usuarioSeleccionado]='this.pacienteSeleccionado'></app-mis-turnos>
            </div>
        </div>



    </section>










</section>