<section class="container">

    <section class='bg-dark p-3 rounded mb-3 '>

        <div class="row">
            <div class="col-12 col-xl-6">

                <div class="form-row ">
                    <div class="col input-group mb-2"> 
                        <input type="text" id="textEspecialidad" class="form-control form-text"  placeholder="Especialidad"  [(ngModel)]="inputEspecialidad" appEscucharTeclado>
                        <button (click)='BuscarPorEspecialidad()' id='btnEspecialidad' class="mt-1 btn btn-success"> <img src="assets/buscar.svg" width="20px"></button>
                    </div>
                </div>

            </div>
            <div class="col-12 col-xl-6">
                <div class="form-row ">
                    <div class="col input-group mb-2"> 
                        <input type="text" id="textEspecialista" class="form-control form-text"  placeholder="Especialista"  [(ngModel)]="inputEspecialista" appEscucharTeclado>
                        <button (click)='BuscarPorEspecialista()' id='btnEspecialista' class="mt-1 btn btn-success"> <img src="assets/buscar.svg" width="20px"></button>
                    </div>
                </div>
            </div>

        </div>

    </section>
    
    <div class="table-responsive" *ngIf='this.cargo'>
        <table class="table table-primary table-hover  ">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Especialidad</th>
                    <th>Especialista</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor='let unTurno of this.listaMostrar'>
                    <td>{{unTurno.fecha | primeraLetraMayuscula}}</td>
                    <td>{{unTurno.especialidad}}</td>
                    <td>{{unTurno.especialista | cambiarDatoPersonal:this.listaDeEspecialistas |primeraLetraMayuscula}}</td>
                    <td>{{unTurno.estadoTurno | uppercase }}</td>
                    <td *ngIf='unTurno.estadoTurno=="pendiente" || unTurno.estadoTurno=="aceptado"' ><button class="btn btn-outline-danger" (click)='AbrirModalCancelarTurno(unTurno)'>Cancelar</button></td>
                    <td *ngIf='unTurno.estadoTurno=="finalizado" || unTurno.estadoTurno=="rechazado" || unTurno.estadoTurno=="cancelado"' ><button class="btn btn-outline-danger" (click)='AbrirModalVerDetalles(unTurno)'>Ver Detalles</button></td>
                </tr>

            </tbody>


        </table>

        <button style="visibility: hidden;" id='botonModalCancelar' data-toggle="modal" data-target="#modalCancelar">ModalCancelar</button>
        <button style="visibility: hidden;" id='botonModalDetalles' data-toggle="modal" data-target="#modalDetalles">ModalDetalles</button>

        <app-modal-cancelar-turno (cancelarTurno)='CancelarTurno($event)'></app-modal-cancelar-turno>
        <app-modal-detalles [turnoDetalle]='this.turnoDetalle' [estadoTurno]='this.estadoTurno' (calificarAtencion)='CalificarAtencion($event)' ></app-modal-detalles>


    </div>


</section>




