<div style="height: 75px;">

</div>

<section class="container bg-dark pt-2 pb-2">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/paciente/miPerfil'>Perfil</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/paciente/misTurnos'>Mis Turnos</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/paciente/solicitarTurno'>Solicitar Turno</button>
        </div>
    </div>

   
</section>