<div style="height: 75px;">

</div>

<section class="container-fluid bg-dark">
    <div class="row">
        <div class="col">
            <button routerLink='/paciente/miPerfil'><img src="assets/administrador/usuario.svg" height="300vh"></button>
        </div>

        <div class="col">
            <button routerLink='/paciente/misTurnos'><img src="assets/administrador/listaUsuarios.svg" height="300vh"></button>
        </div>

        <div class="col">
            <button routerLink='/paciente/solicitarTurno'><img src="assets/administrador/solicitud.svg" height="300vh"></button>
        </div>

    </div>
</section>