<div style="height: 75px;">

</div>

<section class="container-fluid bg-dark">
    <div class="row">
        <div class="col">
            <button routerLink='/administrador/miPerfil'><img src="assets/administrador/usuario.svg" height="300vh"></button>
        </div>

        <div class="col">
            <button routerLink='/administrador/seccionUsuarios/lista'><img src="assets/administrador/listaUsuarios.svg" height="300vh"></button>
        </div>

        <div class="col">
            <button routerLink='/administrador/seccionUsuarios/solicitudes'><img src="assets/administrador/solicitud.svg" height="300vh"></button>
        </div>

        <div class="col">
            <button routerLink='/administrador/seccionUsuarios/registro'><img src="assets/administrador/curriculum.svg" height="300vh"></button>
        </div>
    </div>
</section>