<div style="height: 75px;">

</div>

<section class="container pt-3 pb-3 bg-dark">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/administrador/miPerfil'>Mi perfil</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/administrador/solicitarTurno'>Solicitar Turnos</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/administrador/seccionUsuarios/lista'>Seccion Usuarios</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/administrador/seccionUsuarios/solicitudes'>Solicitudes Especialistas</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" routerLink='/administrador/seccionUsuarios/registro'>Registrar Usuarios</button>
        </div>
    </div>

</section>