<section class="container">


    <app-grafico-dona></app-grafico-dona>

    <section class='bg-dark p-2 rounded'>



        <div class="row">
            <div class="col-6">

                <div class="form-row ">
                    <div class="col input-group mb-2">
                        <input type="text" id="textEspecialidad" class="form-control form-text"
                            placeholder="Especialidad" [(ngModel)]="inputEspecialidad" appEscucharTeclado>
                        <button (click)='BuscarPorEspecialidad()' id='btnEspecialidad' class="mt-1 btn btn-success">
                            <img src="assets/buscar.svg" width="20px"></button>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="form-row ">
                    <div class="col input-group mb-2">
                        <input type="text" id="textEspecialista" class="form-control form-text"
                            placeholder="Paciente" [(ngModel)]="inputPaciente" appEscucharTeclado>
                        <button (click)='BuscarPorEspecialista()' id='btnEspecialista' class="mt-1 btn btn-success">
                            <img src="assets/buscar.svg" width="20px"></button>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modalGrafico">Graficar</button>
            </div>
        </div>

    </section>


    <div class="lista mt-3" *ngIf='this.cargo'>
        <table class="table table-dark table-hover text-center">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Especialidad</th>
                    <th>Paciente</th>
                    <th>Estado</th>
                    <th>Accion 1</th>
                    <th>Accion 2</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor='let unTurno of this.listaMostrar'>
                    <td>{{unTurno.fecha}}</td>
                    <td>{{unTurno.especialidad}}</td>
                    <td>{{unTurno.paciente | cambiarDatoPaciente:this.listaPacientes | primeraLetraMayuscula}}</td>
                    <td>{{unTurno.estadoTurno | primeraLetraMayuscula}}</td>

                    <td *ngIf='unTurno.estadoTurno=="aceptado"'>
                        <button class="btn btn-danger"
                            (click)='AbrirModalCancelarTurno(unTurno)'>Cancelar</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="pendiente"'>
                        <button class="btn btn-danger"
                            (click)='AbrirModalRechazarTurno(unTurno)'>Rechazar</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="pendiente" '>
                        <button class="btn btn-success" (click)='AceptarTurno(unTurno)'>Aceptar</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="aceptado"'>
                        <button class="btn btn-success"
                            (click)='AbrirModalFinalizarTurno(unTurno)'>Finalizar</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="cancelado"'>
                        <button class="btn btn-primary" (click)='AbrirModalVerDetalles(unTurno)'>Ver
                            Detalles</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="finalizado"'>
                        <button class="btn btn-primary" (click)='AbrirModalVerDetalles(unTurno)'>Ver
                            Detalles</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="rechazado"'>
                        <button class="btn btn-primary" (click)='AbrirModalVerDetalles(unTurno)'>Ver
                            Detalles</button>
                    </td>
                    <td *ngIf='unTurno.estadoTurno=="rechazado" || unTurno.estadoTurno=="finalizado" || unTurno.estadoTurno=="cancelado"'>
                    </td>


                </tr>

            </tbody>


        </table>
        

        <button style="visibility: hidden;" id='botonModalCancelar' data-toggle="modal"
            data-target="#modalCancelar">ModalCancelar</button>

        <button style="visibility: hidden;" id='botonModalRechazar' data-toggle="modal"
            data-target="#modalRechazar">ModalRechazar</button>

        <button style="visibility: hidden;" id='botonModalFinalizar' data-toggle="modal"
            data-target="#modalFinalizar">ModalFinalizar</button>

        <button style="visibility: hidden;" id='botonModalDetalles' data-toggle="modal"
            data-target="#modalDetalles">ModalDetalles</button>

        <app-modal-cancelar-turno (cancelarTurno)='CancelarTurno($event)'></app-modal-cancelar-turno>
        <app-modal-rechazar-turno (rechazarTurno)='RechazarTurno($event)'></app-modal-rechazar-turno>
        <app-modal-finalizar-turno (finalizarTurno)='this.FinalizarTurno($event)'></app-modal-finalizar-turno>
        <app-modal-detalles [turnoDetalle]='this.turnoDetalle' [estadoTurno]='this.estadoTurno'></app-modal-detalles>


    </div>

</section>